<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/">
        <input type="text" name="title">
        <input type="submit" value="Add">
    </form>

    <h1>BOOKS</h1>

    {% for book in books %}
    <p>{{book.title}}</p>
    <form method="post" action="/update">
        <input type="hidden" value="{{book.title}}" name="oldtitle">
        <input type="text" value="{{book.title}}" name="newtitle">
        <input type="submit" value="Update">
    </form>
    <form method="post" action="/delete">
        <input type="hidden" value="{{book.title}}" name="title">
        <input type="submit" value="Delete">
    </form>
    {% endfor %}

</body>
</html>